.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-input {
  height:40px;
  width:500px;
  padding-left:10px;
  border-radius:5px;
  outline:none;
  border:none;
}

.main-content {
  height: auto;
  background:white;
  width: 490px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.content-text {
  color:black;
  text-align:left;
  margin:0;
  padding:0;
  font-size:12px;
  font-weight:600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
